In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import neuprint as neu

In [21]:
# load data
datapath = "../data/hemibrain_with_nt/"

neurons = pd.read_csv(datapath+"traced-neurons_withnt_log.csv")
conns = pd.read_csv(datapath+"traced-total-connections.csv")

N = len(neurons)
J = np.zeros([N,N],dtype=np.uint)

idhash = dict(zip(neurons.bodyId,np.arange(N)))
preinds = [idhash[x] for x in conns.bodyId_pre]
postinds = [idhash[x] for x in conns.bodyId_post]

J[postinds,preinds] = conns.weight

###find neurotransmitters for each neuron
nt_predictions = neurons.iloc[:,4:]
max_nt = np.argmax(nt_predictions,axis=1)

ach_inds = max_nt == 1
gaba_inds = max_nt == 0
glut_inds = max_nt == 2
ser_inds = max_nt == 3
oct_inds = max_nt == 4
dop_inds = max_nt == 5

JAch = J * np.outer(np.ones(N),ach_inds)
JGABA = J * np.outer(np.ones(N),gaba_inds)
JGlut = J * np.outer(np.ones(N),glut_inds)
JSer = J * np.outer(np.ones(N),ser_inds)
JOct = J * np.outer(np.ones(N),oct_inds)
JDop = J * np.outer(np.ones(N),dop_inds)

In [22]:
neurons.head()

,bodyId,type,instance,nsyn,nts_8.gaba,nts_8.acetylcholine,nts_8.glutamate,nts_8.serotonin,nts_8.octopamine,nts_8.dopamine,nts_8.neither
0,200326126,CL141,CL141_L,395,-1637.569103,-1888.178775,-115.398941,-2894.561977,-3152.783836,-3294.689383,-3033.630977
1,202916528,FS4C,FS4C(FQ12)_C4_R,95,-281.183170,-86.241238,-196.321907,-393.107415,-396.630807,-336.701775,-456.901449
2,203253072,FS4A,FS4A(AB)(FQ12)_C3_R,62,-165.951447,-94.500780,-137.059344,-259.347036,-233.968705,-165.310550,-278.062386
3,203253253,SMP505,SMP505(PDM22)_L,415,-1351.742617,-602.526716,-833.393866,-1792.570149,-1372.042299,-1084.583954,-1738.116443
4,203257652,FS4C,FS4C(FQ12)_C6_R,65,-166.173308,-60.672929,-111.419482,-282.400009,-260.562126,-198.255095,-266.419780

In [23]:
conns.head()

   bodyId_pre  bodyId_post  weight
0   294437328    295470623       1
1   294437328    295133902       1
2   294437328    448260940       1
3   294437328    294783423       1
4   294437328   5812979995       1

In [24]:
# normalize by input strength
JAch_norm = np.nan_to_num(JAch / np.sum(JAch,axis=1,keepdims=True))

/var/folders/y6/xn2dyw2s14b79mrpmzrhykhc0000gn/T/ipykernel_90202/2100348507.py:2: RuntimeWarning: invalid value encountered in divide
  JAch_norm = np.nan_to_num(JAch / np.sum(JAch,axis=1,keepdims=True))